.header__lang-link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    justify-content: space-between;
    transition: opacity 0.75s;
    text-decoration: none;
  }
  
  .header__lang-link:hover {
      opacity: 0.8;
  }
  
  .header__lang-link:last-child {
      margin-left: 18px;
  }

  @media screen and (max-width: 610px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}