.footer__links {
	display: flex;
	justify-content: center;
	column-gap: 18px;
	flex-direction: row;
}

@media screen and (max-width: 610px) {
	.footer__links {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		column-gap: 0;
		row-gap: 32px;
	}
}