.intro {
	margin: 92px 0 92px 148px;
	max-width: 690px;
	font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

@media screen and (max-width: 1124px) {
	.intro {
		margin-left: 48px;
		margin-right: 48px;
	}
}

@media screen and (max-width: 932px) {
	.intro {
		margin-top: 88px;
		margin-bottom: 88px;
	}
}

@media screen and (max-width: 768px) {
	.intro {
		max-width: calc(100% - 48px);
		margin-left: 24px;
		margin-right: 24px;
	}
}

@media screen and (max-width: 610px) {
	.intro {
		max-width: calc(100% - 32px);
		margin: 64px auto 64px auto;
	}	
}
