.cover__overlay {
	background: #2A2C2F;
	transition: opacity 0.75s;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	z-index: 1; /*Если не настроить индексы правильно, то текст тоже станет прозрачнее на 30 процентов*/
	position: absolute; /*необходимо, чтобы элемент унаследовал ширину и высоту от высшего относительно спозиционированного элемента*/
	/* top: 0;
	right: 0;  */
}

.cover__overlay:hover {
	opacity: 0.7;
}
